<div>
    <app-header></app-header>
</div>


<div>
    <h2>Cerca area parcheggio bici</h2>
    <mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile>
     <app-filter></app-filter>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-spinner *ngIf="areFiltersLoading"></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>
    




</div>

<div class="map-section">
  <mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <div id="map"  (click)="getCoord($event)"  class="map-container"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-parking-area-detail></app-parking-area-detail>
  </mat-grid-tile>
</mat-grid-list>
</div>


